<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBluPmjpF14FkThRsckJF74ww8frej_JCw</string>
	<key>GCM_SENDER_ID</key>
	<string>213810547379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.artis.sales</string>
	<key>PROJECT_ID</key>
	<string>artis-sales-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>artis-sales-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:213810547379:ios:6c637fe7a4f13b1fb13ec6</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213810547379-fqhokb8k17heb2ojufulum0ar9ht9flo</string>
</dict>
</plist>
